@supports not (display: flex) {
  div {
    float: left; /* alternative styles */
  }
}

@supports (perspective: 10px) {/* specific CSS applied when 3D transforms, eventually prefixed, are supported */
}

@supports ( font-variant-position: super ) {
  ::footnote-call {
    content: counter(footnote);
    vertical-align: baseline;
    font-size: 100%;
    line-height: inherit;
    font-variant-position: super;
  }
}
