@media {
  /* empty at rule */
}

.foo {
  /* empty */
}


/* empty */

.foo {
  position: absolute;
}

.bar {
  /* empty */
  display: block;
}

.bar {
  display: /* empty */
  ;
}

@font-face
/* empty */

{
  display: block;
}


/* empty */

@font-face {
  display: block;
}

@media (
/* empty */

) {
  display: block;
}